{% load static %}

<nav
  class="navbar is-info"
  role="navigation"
  aria-label="main navigation"
>

<div class="container">

  <div class="navbar-brand">
    <a
      class="navbar-item"
      href="#"
    >
      <img
        src="{% static 'img/ico_circle.png' %}"
        alt="Bulma: a modern CSS framework based on Flexbox"
        width="auto"
        height="28"
      />
    </a>
    <div class="navbar-item field">
      <p class="control has-icons-left">
        <input class="input" type="search" placeholder=" Pesquisar">
        <span class="icon is-small is-left">
          <i class="material-icons">search</i>
        </span>
      </p>
    </div>
    <a
      role="button"
      class="navbar-burger"
      aria-label="menu"
      aria-expanded="false"
    >
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>
  <div class="navbar-menu">
    <div
      class="navbar-start"
      style="flex-grow: 1; justify-content: center;"
    >
      <a class="navbar-item" href="#">
        <span><i class="fas fa-home fa-lg"></i></span>
      </a>
      <a class="navbar-item" href="#">
        <span><i class="fas fa-comment fa-lg"></i></span>
        <span class="badge">8</span>
      </a>     
      <a class="navbar-item" href="#">
        <span><i class="fas fa-bell fa-lg"></i></span>
        <span class="badge">2</span>
      </a>
      <a class="navbar-item" href="#">    
        <span><i class="fas fa-user-alt fa-lg"></i></span>
      </a>
      <a class="navbar-item">
        <span><i class="fab fa-font-awesome-flag fa-lg"></i></span>
      </a>
    </div>
    <div class="navbar-end">

    <a href="" class="navbar-link is-arrowless">
        <figure class="image is-48x48">
        <img class="is-rounded" src="https://bulma.io/images/placeholders/48x48.png">
        </figure>
        <strong> {{ request.user }}</strong>
    </a>

      <div class="navbar-item has-dropdown is-hoverable">
            <a class="navbar-link is-arrowless">
              <i class="material-icons">settings</i>
            </a>

            <div class="navbar-dropdown is-right">
              <a class="navbar-item">
                About
              </a>
              <a class="navbar-item">
                Jobs
              </a>
              <a class="navbar-item">
                Trocar email
              </a>
              <a class="navbar-item">
                Trocar senha
              </a>                            
              <a class="navbar-item">
                Contact
              </a>
              <hr class="navbar-divider">
              <a class="navbar-item" href="{% url 'logout' %}">
                Logout
              </a>
            </div>
      </div>
    </div>
  </div>

</div>

</nav>


