{% load static %}

{% load widget_tweaks %}

<!DOCTYPE html>
<html lang=en>
  <head>
      <meta charset='utf-8'>
      <meta name='viewport' content='width=device-width, initial-scale=1'>
      <link rel="stylesheet" href="{% static 'css/bulma/bulma.min.css' %}">
      <link rel="stylesheet" href="{% static 'css/signup.css' %}">
      <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" rel="stylesheet"/>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <link rel="icon" type="image/png" href="{% static 'ico/favicon.ico' %}"/>
      <script src="{% static 'js/functions.js' %}" defer></script>
      {% block scripts %}
      {% endblock scripts %}
      <title>Baller | Login</title>
  </head>

  <body>
  <section class="section">
    <div class="container">    

        <div class="card">
          <div class="columns">

            <!-- Column left -->
            <div class="column" id="logo">
              <img  src="{% static 'img/ico_circle.png' %}" 
                    class="rounded-circle"
                    style="max-width: 100%; height: auto;">
            </div> <!-- Column left -->

            <!-- Column right -->
            <div class="column ">
              <div class="columns">
                <div class="column is-11">

                  <!-- form -->
                  <form method="post" action="" role="form">
                    {% csrf_token %}
                    <!-- title -->
                    <h1 class="title is-2">Login</h1>

                    <!-- username -->
                    <div class="field">
                      <label class="label is-medium">Username</label>
                      <div class="control has-icons-left has-icons-right">
                        {{ form.username | add_class:"input" | attr:"placeholder: Username" }}
                        <span class="icon is-small is-left">
                          <i class="fas fa-user"></i>
                        </span>
                      </div>
                    </div>

                    <!-- password -->
                    <div class="field">
                      <label class="label is-medium">Password</label>
                      <div class="control has-icons-left has-icons-right">
                        {{ form.password | add_class:"input" | attr:"placeholder: Password" }}
                        <span class="icon is-small is-left">
                          <i class="fas fa-lock"></i>
                        </span>  
                      </div>
                    </div>       
                    
                    <!-- if erro template -->
                    {% if form.errors %}
                    <div class="row">
                      <div class="col s12">
                        <span style="color: red; font-weight: bold;">Your username or password did not match.</span>
                      </div>
                    </div>
                    {% endif %}  

                    <br>

                    <div class="field">
                      <p class="control">
                        <button type="submit" value="login" class="button is-success">
                          Login
                        </button>
                      </p>
                    </div>   

                    <!-- for next page link -->
                    <input type="hidden" name="next" value="{{ next }}">

                  </form>

                  <br>

                  <p>Não tem conta ainda? Clique <a href="{% url 'signup' %}">aqui</a> e crie sua conta.</p> 
                
                  </div>   <!-- column is-11 -->
                </div>   <!-- columns is-mobile -->
              </div>   <!-- Column right -->            
          </div>   <!-- columns -->
        </div>  <!-- card -->
    </div>   <!-- container -->
  </section>

  </body>
</html>

