{% load static %}

<div class="modal" id="pageModalCreatePost">
  <div class="modal-background"></div>
  <div class="modal-card">
    <header class="modal-card-head">
      <p class="modal-card-title">Modal title</p>
      <button class="delete" aria-label="close"></button>
    </header>
    <section class="modal-card-body">
      <p>My form goes here!</p>
    </section>
    <footer class="modal-card-foot">
      <button class="button is-success">Save changes</button>
      <button class="button deleteBtn" id="closeModalCreatePost">Cancel</button>
    </footer>
  </div>
</div>




<!-- 
<div class="modal fade" id="createPostModal">

    <div class="modal-background"></div>

    <div class="modal-card">

        <header class="modal-card-head">
            <p class="modal-card-title">Create new post</p>
            <button class="delete" aria-label="close"></button>
        </header>

        <form method="post" enctype="multipart/form-data" action="" role="form">
        <section class="modal-card-body">
            {% csrf_token %}     -->
                <!-- picture -->
                <!-- <div class="field">
                    <label class="label is-medium">Choose your files</label>
                    <div class="control">
                        {{ form.content }}
                    </div>
                </div>       -->

                <!-- caption -->
                <!-- <div class="field">
                    <label class="label is-medium">Caption</label>
                    <div class="control">
                        {{ form.caption }}
                    </div>
                </div> -->

                <!-- tags -->
                <!-- <div class="field">
                    <label class="label is-medium">Tags (add tags, separeted by commas)</label>
                    <div class="control">
                        {{ form.tags }}
                    </div>
                </div>   
         -->
            
        <!-- </section>

        <footer class="modal-card-foot">
            
            <button type="submit" name="action" class="button is-success">
                Create my post
            </button>
  
            <button class="button">Cancel</button>

        </footer>
        </form>
    </div>
</div> -->