{% load static %}

<div class="modal" id="pageModalDeletePost">

  <!-- background -->
  <div class="modal-background"></div> 

  <!-- center modal -->
  <div class="is-vcentered">

    <div class="modal-card">
        <header class="modal-card-head">
            <p class="modal-card-title">Delete seu post <b>{{ obj.caption }}</b> </p>
            <button class="delete" aria-label="close"></button>
        </header>
        <form id="form-delete-post">
            {% csrf_token %}
            <footer class="modal-card-foot">
                <button type="submit" class="button is-danger" id='btn-save-post'>delete post?</button>
                <button class="button deleteBtn" id="closeModalDeletePost">cancel</button>
            </footer>
        </form>
    </div>

  </div> <!-- center modal -->
</div> <!-- modal -->