{% extends 'base.html' %}  

{% load static %}  

{% block css %}
<link rel="stylesheet" href="{% static 'css/post.css' %}">
<link rel="stylesheet" href="{% static 'css/slideshow.css' %}">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
{% endblock css %}

{% block title %}post{% endblock title %}

{% block content %}  
<div class="container">
    <div class="columns">

        <!-- banner column -->
        <div class="column is-one-fifth" >
          {% include 'banner.html' %}
        </div>


        <!-- main column -->
        <div class="column is-half">
          <a class="button is-primary mb-1 mt-1" href="{% url 'posts:create-post' %}">new post</a>

          {% include 'posts/body_posts.html' %}

          <!-- <div id="posts-box"></div>  -- innerHTML from JS -->

          <div id="spinner-box">
            <progress class="progress is-small is-primary" max="100"></progress>
          </div>

        </div>

        <!-- right column -->
        <div class="column">
            <br>
        <div style="position: fixed;">
        <div class="column" style="overflow-y: scroll; height: 500px;">
                <h2>CHAT</h2>
                <div class="notification">
                    <button class="delete"></button>
                    <article class="media">
                      <figure class="media-left">
                        <p class="image is-48x48">
                          <img src="https://bulma.io/images/placeholders/48x48.png">
                        </p>
                      </figure>
                      <div class="media-content">
                        <div class="content">
                          <p>
                            <strong>John Smith</strong> <small>@johnsmith</small> <small>1 day, 3h ago</small>
                          </p>
                        </div>
                      </div>
                    </article>  
                </div>   

                <div class="notification">
                    <button class="delete"></button>
                    <article class="media">
                      <figure class="media-left">
                        <p class="image is-48x48">
                          <img src="https://bulma.io/images/placeholders/48x48.png">
                        </p>
                      </figure>
                      <div class="media-content">
                        <div class="content">
                          <p>
                            <strong>John Smith</strong> <small>@johnsmith</small> <small>1 day, 3h ago</small>
                          </p>
                        </div>
                      </div>
                    </article>  
                </div>     

                <div class="notification">
                    <button class="delete"></button>
                    <article class="media">
                      <figure class="media-left">
                        <p class="image is-48x48">
                          <img src="https://bulma.io/images/placeholders/48x48.png">
                        </p>
                      </figure>
                      <div class="media-content">
                        <div class="content">
                          <p>
                            <strong>John Smith</strong> <small>@johnsmith</small> <small>1 day, 3h ago</small>
                          </p>
                        </div>
                      </div>
                    </article>  
                </div>     
                
              </div>    
        </div>    
        
        <div style="position: fixed; bottom: 0%;">
          <div id="alert-box"></div>
        </div>
        <!-- right column -->

        </div>
    </div>
</div>



{% endblock %}  

{% block scripts %}
  <script src="{% static 'js/main.js' %}" defer></script>
  <script src="{% static 'js/posts.js' %}" defer></script>
{% endblock scripts %}