{% extends 'base.html' %}  

{% load static %}  

{% block css %}
<link rel="stylesheet" href="{% static 'css/post.css' %}">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
{% endblock css %}

{% block title %}post{% endblock title %}

{% block content %}  
<div class="container">
    <div class="columns">

        <!-- banner column -->
        <div class="column is-one-fifth" >
          <div style="position: fixed; width: 11vw;">
            <img src="{% static 'img/banner.png' %}" alt="" style="padding-top: 20px;">
          </div>
        </div>
        <!-- banner column -->

        <!-- main column -->
        <div class="column is-half">

          <br>
          <button class="button is-primary" id="modalCreatePost">add post</button>
          <br>
          
          {% include "posts/create_post.html" %}
          
          <br>

          <div id="posts-box"></div>

          <div id="spinner-box">
            <progress class="progress is-small is-primary" max="100"></progress>
          </div>


        </div>
        <!-- main column -->

        <!-- right column -->
        <div class="column">
            <br>
        <div style="position: fixed;">
        <div class="column" style="overflow-y: scroll; height: 500px;">
                <h2>CHAT</h2>
                <div class="notification">
                    <button class="delete"></button>
                    <article class="media">
                      <figure class="media-left">
                        <p class="image is-48x48">
                          <img src="https://bulma.io/images/placeholders/48x48.png">
                        </p>
                      </figure>
                      <div class="media-content">
                        <div class="content">
                          <p>
                            <strong>John Smith</strong> <small>@johnsmith</small> <small>1 day, 3h ago</small>
                          </p>
                        </div>
                      </div>
                    </article>  
                </div>   

                <div class="notification">
                    <button class="delete"></button>
                    <article class="media">
                      <figure class="media-left">
                        <p class="image is-48x48">
                          <img src="https://bulma.io/images/placeholders/48x48.png">
                        </p>
                      </figure>
                      <div class="media-content">
                        <div class="content">
                          <p>
                            <strong>John Smith</strong> <small>@johnsmith</small> <small>1 day, 3h ago</small>
                          </p>
                        </div>
                      </div>
                    </article>  
                </div>     

                <div class="notification">
                    <button class="delete"></button>
                    <article class="media">
                      <figure class="media-left">
                        <p class="image is-48x48">
                          <img src="https://bulma.io/images/placeholders/48x48.png">
                        </p>
                      </figure>
                      <div class="media-content">
                        <div class="content">
                          <p>
                            <strong>John Smith</strong> <small>@johnsmith</small> <small>1 day, 3h ago</small>
                          </p>
                        </div>
                      </div>
                    </article>  
                </div>     
                
              </div>    
        </div>    
        
        <div style="position: fixed; bottom: 0%;">
          <div id="alert-box"></div>
        </div>
        <!-- right column -->

        </div>
    </div>
</div>



{% endblock %}  

{% block scripts %}
  <script src="{% static 'js/main.js' %}" defer></script>
  <script src="{% static 'js/posts.js' %}" defer></script>
{% endblock scripts %}