{% load static %}

<div class="modal" id="pageModalUpdatePost">

  <!-- background -->
  <div class="modal-background"></div> 

  <!-- center modal -->
  <div class="is-vcentered">

    <div class="modal-card">
        <header class="modal-card-head">
            <p class="modal-card-title">Update seu post</p>
            <button class="delete" aria-label="close"></button>
        </header>
        <form id="form-update-post">
            {% csrf_token %}
            <section class="modal-card-body">
                {{form.as_p}}
            </section>
            <footer class="modal-card-foot">
                <button type="submit" class="button is-success" id='btn-update-post'>Save changes</button>
                <button class="button deleteBtn" id="closeModalCreatePost">Cancel</button>
            </footer>
        </form>
    </div>

  </div> <!-- center modal -->
</div> <!-- modal -->